<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.myBatis.mappers.EquipoMapper">
    <resultMap type="Equipo" id="EquipoResultado">
        <id property="idequipo" column="idequipo"/>
        <result property="ip" column="ip"/>
        <result property="informacion" column="informacion"/>
        <result property="activo" column="activo"/>
        <result property="laboratorio" column="laboratorio"/>
    </resultMap>

    <select id="getEquipos" resultMap="EquipoResultado" parameterType="map">
        SELECT * FROM equipos;
    </select>

    <insert id="registrarEquipo" parameterType="map">
        INSERT INTO "equipos"(ip, informacion, activo, laboratorio)
		VALUES(#{ip}, #{informacion}, #{activo}, #{laboratorio});
    </insert>
</mapper>