<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.eci.cvds.sampleprj.dao.myBatis.mappers.LaboratorioMapper">
  
    <resultMap type='Laboratorio' id='LaboratorioResultado'>
    	<id property='idlaboratorio' column='idlaboratorio'/>
	<result property='nombre' column='nombre'/>
    	<result property='informacion' column='informacion'/>	
    </resultMap>

    <select id="getLaboratorios" resultMap="LaboratorioResultado" parameterType="map">
        SELECT * FROM laboratorios;
    </select>

    <insert id="registrarLaboratorio" parameterType="map">
        INSERT INTO laboratorios (nombre,activo,equiposAsociados,fechaRegistro)
		VALUES(#{nombre},true,0,#{fechaRegistro});
    </insert>
</mapper>



