body {
    margin : 0;
    padding : 0;
    background-image : url(../img/Equipo.jpg);
    background-size: cover;
    height: 100vh;
}

::placeholder { color: rgba(255, 255, 255, 0.1); }

.menuPresentation
{
	font-family: Bahnschrift;
	text-transform: uppercase;
	font-weight: bold;
    text-align: center;
}

.title {
    margin-top: -47px;
    color: #FFFFFF;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 1.0);
}

.subTitle {
    color: #FFFFFF;
    font-size: 25px;
	background-color: rgba(193, 24, 39, 0.9);
    margin-left: 250px;
    border-radius: 20px;
}

.subTitle2 {
	color: #FFFFFF;
	font-size: 25px;
	background-color: rgba(27, 183, 83, 0.9);
    margin-right: 250px;
    border-radius: 20px;
}

.ip {
	margin-top: 20px;
    font-family: Bahnschrift;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;    
    background-color: #C11626;
    font-weight: bold;
    text-align: center;
    float: center;
    margin-right: 20px;
    border-radius: 20px;
}


.informacion {
	margin-top: 20px;
    font-family: Bahnschrift;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;    
    background-color: #C11626;
    font-weight: bold;
    text-align: center;
    float: center;
	margin-right: 20px;
    border-radius: 20px;
}

.register {
	margin-top: 10px;
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    width: 190px;
    height: 30px;
    background-color: #FFFFFF;
    float: center;
    border-radius: 20px;
}

.nextWindow {
	margin-top: 10px;
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 110px;
    height: 30px;
    background-color: #FF9002;
    float: center;
    border-radius: 20px;
    border: 0px solid;
}

.nextWindow2 {
    margin-top: 10px;
    font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 160px;
    height: 30px;
    background-color: #1BB753;
    float: left;
    border-radius: 20px;
    border: 0px solid;
}

.columns {
	color: #000000;
	background-color: rgba(255, 255, 255, 1.0);
    font-family: Bahnschrift;
}

.backWindow {
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 30px;
    background-color: #1BB753;
    float: right;
    border-radius: 20px;
    border: 0px solid;
}

.subTitle4 {
    color: #FFFFFF;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.9);
}

.option {
    font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 30px;
    background-color: rgba(193, 24, 39, 1.0);
    float: left;
    border-radius: 20px;
    border: 0px solid;
}