body {
    margin : 0;
    padding : 0;
    background-image : url(../img/Laboratorio.jpg);
    background-size: cover;
    height: 100vh;
}

::placeholder { color: rgba(255, 255, 255, 0.1); }

.menuPresentation
{
	font-family: Bahnschrift;
	text-transform: uppercase;
	font-weight: bold;
    text-align: center;
}

.title {
    margin-top: -47px;
    color: #FFFFFF;
    font-size: 35px;
    background-color: rgba(0, 0, 0, 1.0);
}

.subTitle {
	color: #FFFFFF;
	font-size: 25px;
	background-color: rgba(183, 27, 109, 0.8);
    margin-left: 250px;
    border-radius: 20px;
}

.subTitle2 {
    color: #FFFFFF;
    font-size: 25px;
    background-color: rgba(20, 179, 182, 0.8);
    margin-right: 250px;
    border-radius: 20px;
}

.nombre {
    margin-top: 20px;
    font-family: Bahnschrift;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #14ABA7;
    font-weight: bold;
    text-align: center;
    float: center;
    margin-right: 20px;
    border-radius: 20px;
}

.register {
	margin-top: 10px;
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #000000;
    width: 200px;
    height: 30px;
    background-color: #FFFFFF;
    float: center;
    border-radius: 8px;
    border-radius: 20px;
}

.idLaboratorio {
    margin-top: 20px;
    font-family: Bahnschrift;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #14ABA7;
    font-weight: bold;
    text-align: center;
    float: center;
    margin-right: 20px;
    border-radius: 20px;
}

.columns {
	color: #000000;
	background-color: rgba(255, 255, 255, 1.0);
    font-family: Bahnschrift;
}

.backWindow {
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 30px;
    background-color: #14B3B6;
    float: right;
    border-radius: 20px;
    border: 0px solid;
}

.subTitle4 {
    color: #FFFFFF;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.9);
}

.option {
    font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 30px;
    background-color: rgba(183, 27, 109, 1.0);
    float: left;
    border-radius: 20px;
    border: 0px solid;
<<<<<<< HEAD
}
=======
}
>>>>>>> 3227408377378f7edb091305606d1834009d4780
