body {
    margin : 0;
    padding : 0;
    background-image : url(../img/LoginBackground.jpg);
    background-size: cover;
    height: 100vh;
}

::placeholder { color: rgba(0, 0, 0, 0.5); }

.loginPresentation{
    font-family: Bahnschrift;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.title {
    margin-top: -47px;
    color: #F1F1F2;
    font-size: 35px;
    background-color: #011A27;
}

.subTitle {
    color: #BCBABE;
    font-size: 25px;
    background-color: #063852;
}

.subTitle2 {
    margin-top: 25px;
    color: #F1F1F2;
    font-size: 18px;
    background-color: #011A27;
}

.documento {
    margin-right: 10px;
    font-family: Bahnschrift;
    font-size: 14px;
    text-transform: uppercase;
    color: #2A3132;
    font-weight: bold;
    text-align: center;
    float: center;
}

.contraseña {
    margin-top: 20px;
    font-family: Bahnschrift;
    font-size: 14px;
    text-transform: uppercase;
    color: #2A3132;    
    font-weight: bold;
    text-align: center;
    float: center;
}

.ingresar {
    margin-top: 20px;
    font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #011A27;
    width: 110px;
    height: 25px;
    background-color: #F1F1F2;
    float: center;
}