body {
	margin : 0;
	padding : 0;
	background-image : url(../img/Menu.jpg);
	background-size: cover;
	height: 100vh;
}

.menuPresentation {
	font-family: Bahnschrift;
	text-transform: uppercase;
	font-weight: bold;
    text-align: center;
}

.title {
    margin-top: -47px;
    color: #F1F1F2;
    font-size: 35px;
    background-color: #000000;
}

.subTitle1 {
	color: #FFFFFF;
	font-size: 25px;
	background-color: rgba(255, 146, 1, 0.9);
}

.subTitle2 {
    color: #FFFFFF;
    font-size: 25px;
    background-color: #2443F3;
}

.subTitle3 {
    color: #FFFFFF;
    font-size: 25px;
    background-color: #B71B1C;
}

.subTitle4 {
    color: #FFFFFF;
    font-size: 25px;
    background-color: rgba(0, 128, 0, 0.9);
}

.subTitle4 {
    color: #FFFFFF;
    font-size: 18px;
    background-color: #008000;
}

.nextWindow1 {
	margin-top: 10px;
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 110px;
    height: 30px;
    background-color: #FF9002;
    float: center;
    border-radius: 20px;
    border: 0px solid;
}

.nextWindow2 {
	margin-top: 10px;
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    background-color: #2443F3;
    float: center;
    border-radius: 20px;
    border: 0px solid;
}

.nextWindow3 {
	margin-top: 10px;
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    background-color:#B71B1C;
    float: center;
    border-radius: 20px;
    border: 0px solid;
}

.nextWindow4{
	margin-top: 10px;
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 150px;
    height: 30px;
    background-color: #008000;
    float: center;
    border-radius: 20px;
    border: 0px solid;
}
	
.backWindow {
	font-size: 14px;
    font-family: Bahnschrift;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    width: 200px;
    height: 30px;
    background-color: #1764BE;
    float: right;
    border-radius: 20px;
    border: 0px solid;
}

.logos {
   margin-left: 200px;
}